# Virtual environment
venv/
.env

Try-on/CatVTON/

Try-on/tryon/weights/

# Output images
Try-on/tryon/output/

# Test images
Try-on/tryon/test/

# Python cache
**/__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
